# R files
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
*.Rout

# Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyo
*.pyc
*.pdm

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# RMarkdown files
*.knit.md
*.utf8.md
*.Rmd.cache/
*.Rmd.knit.md
*.Rmd.html
*.Rmd.pdf
*.Rmd~
*.out
*.log
*.tex

# MacOS files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
.fseventsd
.TemporaryItems
.apdisk

# General
*.~*
*.swp
*.swo
*.bak
*.orig
*~
*.tmp

